
@{
    ViewData["Title"] = "AllAuctions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        
        white-space: nowrap;
    }
</style>

<div class="album py-2 bg-light">
    <div class="container">

        <div class="col-md-12">
            <div class="card mb-4 box-shadow">

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <img src="https://static.spotawheel.pl/vf101/classifieds/469/skoda-fabia-2016_387902880_m.jpg" style=" width:99%; height:100%; padding:15px;  border-radius:5px;" />
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> Pojazd</th>
                                            <th>Rok produkcji</th>
                                            <th>Cena aktualna </th>
                                            <th>Przebieg</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Fiat Panda</td>
                                            <td>2018</td>
                                            <td>25000 PLN</td>
                                            <td>210 000</td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <br />

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" style="width:12em; font-weight:bold" class="btn btn-sm btn-outline-secondary">Licytuj</button>

                                </div>
                                <small class="text-muted">Do końca: 2 dni 3h</small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card mb-4 box-shadow">

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <img src="https://www.wyborkierowcow.pl/wp-content/uploads/2020/07/skoda-fabia-cennik-otwarcie-1024x683.jpg" style=" width:100%; height:100%; padding:15px;  border-radius:5px;" />
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Pojazd</th>
                                            <th>Rok produkcji</th>
                                            <th>Cena </th>
                                            <th>Przebieg</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Opel Astra</td>
                                            <td>2018</td>
                                            <td>25 000 PLN</td>
                                            <td>210 000</td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" style="width:12em; font-weight:bold" class="btn btn-sm btn-outline-secondary">Licytuj</button>

                                </div>
                                <small class="text-muted">Do końca: 2 dni 3h</small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-12">
            <div class="card mb-4 box-shadow">

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_cIcIFYmYfCB0l9PCoTXCeMDDvGB2orjzPA&usqp=CAU" style=" width:100%; height:100%; padding:15px;  border-radius:5px;" />
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Pojazd</th>
                                            <th>Rok produkcji</th>
                                            <th>Cena </th>
                                            <th>Przebieg</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Skoda Fabia III 1.2 TSI Active</td>
                                            <td>2018</td>
                                            <td>25 000 PLN</td>
                                            <td>210 000</td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" style="width:12em; font-weight:bold" class="btn btn-sm btn-outline-secondary">Licytuj</button>

                                </div>
                                <small style="padding-right:4%;" class="text-muted">Do końca: 2 dni 3h</small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>

